.App {
  text-align: center;
}


.main {
  margin-left: 40px;
  align-content: center;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.main > div {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
}
.main > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

title {
  font-weight: 500;
}

h2{
  font-size: 45px;
  font-family: "Lucida Console", "Courier New", monospace;

}

button, input[type=submit]{
  background-color: gray; /* Green */
  border: 3px  gray;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  border-radius: 4px;
  margin: 30px;
}
